# GitLab Continuous Integration configuration for the repository.

# "Global" build stages.
stages:
  - test

# Set the behaviour of the CI build.
variables:
  GIT_STRATEGY: fetch
  GIT_SUBMODULE_STRATEGY: recursive

# run the regression tests
pytest:
  stage: test
  only:
    - main
    - henry_dev_newTests
    - merge_requests
  script:
    - echo "Getting docker"
    - git clone https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.desy.de:ftx-sft/generative/point-cloud-diffusion-docker.git
    - ls *
    - echo "Running tests"
    - singularity exec point-cloud-diffusion-docker/pointcloud.sif pytest
      

