name: Run python tests
on:
    push:
        branches:
            - main
            - proto_main
    pull_request:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest
        container:
            image: ghcr.io/flc-qu-hep/container_caloclouds-3
        steps:
            - uses: actions/checkout@v3
            - name: Get submodules
              run: git submodule update --init --recursive
            - name: Run tests with pytest
              run: pytest test/
