name: Run python tests
on:
    push:
        branches:
            - main
            - proto_main
    pull_request:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Install python3
              uses: actions/setup-python@v4
              with:
                  python-version: 3.11
            - name: Install dependancies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt
                  pip install pytest
            - name: Get submodules
              run: git submodule update --init --recursive
            - name: Run tests with pytest
              run: pytest test/
